@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;

.brand {
  &-logo {
    font-size: 2.5rem;
    font-family: fonts.$font-secondary;
    font-weight: 500;
  }

  &-detail {
    color: colors.$brand-color;
  }
}
