@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;

.post {
  width: 100%;
  min-height: 100vh;

  &-image {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 550px;
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;
  }

  &-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .go-back {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0;
    margin-block: 1.5rem;
    text-transform: uppercase;
    color: colors.$white;
    border: none;
    background-color: transparent;
    transition: 0.4s ease-in-out;

    &:hover {
      color: colors.$brand-color;
    }
  }

  &-article {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    margin-bottom: 5rem;
  }

  &-title {
    max-width: 1000px;
    font-family: fonts.$font-secondary;
    font-size: 2.5rem;
    color: colors.$brand-color;
  }

  &-subtitle {
    font-family: fonts.$font-secondary;
    font-size: 1.4rem;
    font-weight: 400;
    color: colors.$dark-50;
    opacity: 0.4;
  }

  &-description {
    width: 100%;
    font-family: fonts.$font-primary;
    font-size: 1.2rem;
    line-height: 1.6;
    text-wrap: pretty;
    text-align: left;
    word-break: break-all;
    color: colors.$dark-50;
  }
}

@media screen and (max-width: 800px) {
  .post {
    &-title {
      font-size: 2rem;
    }

    &-subtitle {
      font-size: 1.2rem;
    }

    &-description {
      font-size: 1rem;
    }

    &-image {
      border-radius: 0px;
    }
  }
}
