@import '../../GlobalStyles.scss';

article-container {
  min-height: 100vh;
}

.article {
  margin-block: 1.8rem;
  padding: 2.5rem;
  border-radius: 8px;
  border: 2px solid $dark-40;
  background-color: $foreground;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    border: 2px solid $brand-color;
  }

  &-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  &-arrow-icon {
    opacity: 0.8;
    cursor: pointer;
  }

  &-title {
    margin-bottom: 1rem;
  }
}
