$brand-color: #e07b67;
$background: #121214;
$foreground: #17171a;
$white: #fff;
$dark-30: #202024;
$dark-40: #252529;
$dark-50: #afabb6;

$warning-background: #fff3cd;
$warning-border: #ffeeba;
$warning-text: #856404;
