@use './colors' as colors;
@use './fonts' as fonts;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: fonts.$font-primary;
  color: colors.$white;
  background-color: colors.$background;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  display: block;
  min-width: 80px;
  font-family: fonts.$font-primary;
  cursor: pointer;
}

input,
textarea {
  font-family: fonts.$font-primary;
  font-size: 1rem auto;
  border-radius: 8px;
  outline: none;
  border: 2px solid colors.$dark-40;
  background-color: colors.$dark-30;
  color: colors.$white;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.125rem;
  color: colors.$dark-50;
  font-family: fonts.$font-primary;
}

input:focus,
textarea:focus,
input:focus,
textarea:active {
  box-shadow: colors.$brand-color 0px 0px 0px 3px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.button {
  font-family: fonts.$font-primary;
  transition: all 0.4s;
  color: colors.$background;
  background-color: colors.$brand-color;

  &:hover {
    color: colors.$background;
    background-color: colors.$white;
  }

  svg {
    color: colors.$background;
  }
}

.title {
  font-family: fonts.$font-secondary;
  font-weight: 500;
  font-size: 2rem;
  color: colors.$white;
}

.subtitle {
  font-family: fonts.$font-secondary;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
  opacity: 0.9;
  color: colors.$white;
}

.description {
  font-family: fonts.$font-primary;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: colors.$dark-50;
}

.text {
  font-family: fonts.$font-primary;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  color: colors.$dark-50;
}

.date {
  font-family: fonts.$font-primary;
  font-size: 1rem;
  font-weight: 500;
  color: colors.$brand-color;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 1.5rem;
  }
  .subtitle,
  .description,
  .text {
    font-size: 1rem;
  }
}
