@import '../../GlobalStyles.scss';

.header {
  width: 100%;
  padding-block: 1.5rem;
  background-color: $foreground;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
  }
}
