@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;

.header {
  width: 100%;
  padding-block: 1.5rem;
  background-color: colors.$foreground;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
  }
}
