@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;

.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: colors.$background;

  h4 {
    font-family: fonts.$font-primary;
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.8;
    color: colors.$white;
  }
}

.loading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: colors.$brand-color;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
