@import '../../GlobalStyles.scss';

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#search-input {
  flex: 3;
  display: block;
  max-width: 800px;
  margin-inline: auto;
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid $dark-40;
  background-color: $dark-30;
  color: $white;

  &::placeholder {
    font-size: 1.125rem;
    color: $dark-50;
    font-family: inherit;
  }

  &:focus,
  &:active {
    -webkit-box-shadow: 0px 0px 11px 2px $brand-color;
    -moz-box-shadow: 0px 0px 11px 2px $brand-color;
    box-shadow: 0px 0px 11px 2px $brand-color;
  }
}

.input-button {
  flex: 1;
  font-family: $font-description;
  font-weight: 700;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.9rem 1.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  color: $background;
  background-color: $brand-color;

  svg {
    color: $background;
  }
}
