$brand-color: #e07b67;
$background: #121214;
$foreground: #17171a;
$white: #fff;
$dark-30: #202024;
$dark-40: #252529;
$dark-50: #afabb6;

$font-title: 'Space Grotesk', sans-serif;
$font-description: 'Inter', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
  font-family: 'Inter', sans-serif;
  color: $white;
  background-color: $background;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  min-width: 80px;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.title {
  font-family: $font-title;
  font-weight: 500;
  font-size: 1.5rem;
  color: $white;
}

.subtitle {
  font-family: $font-title;
  font-weight: 400;
  font-size: 1.25rem;
  color: $white;
  opacity: 0.92;
  text-transform: capitalize;
}

.description {
  font-family: $font-description;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $dark-50;
}

.date {
  font-family: $font-description;
  font-size: 1rem;
  font-weight: 500;
  color: $brand-color;
}
