$brand-color: #e07b67;
$background: #121214;
$foreground: #17171a;
$white: #fff;
$dark-30: #202024;
$dark-40: #252529;
$dark-50: #afabb6;

$font-title: 'Space Grotesk', sans-serif;
$font-description: 'Inter', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
  font-family: 'Inter', sans-serif;
  color: $white;
  background-color: $background;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: block;
  min-width: 80px;
  font-family: $font-description;
  cursor: pointer;
}

input,
textarea {
  font-family: $font-description;
  font-size: 1rem auto;
  border-radius: 8px;
  outline: none;
  border: 2px solid $dark-40;
  background-color: $dark-30;
  color: $white;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.125rem;
  color: $dark-50;
  font-family: $font-description;
}

input:focus,
textarea:focus,
input:focus,
textarea:active {
  box-shadow: $brand-color 0px 0px 0px 3px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.button {
  font-family: $font-description;
  transition: background 0.3s linear;
  color: $background;
  background-color: $brand-color;

  &:hover {
    color: $background;
    background-color: $white;
  }

  svg {
    color: $background;
  }
}

.title {
  font-family: $font-title;
  font-weight: 500;
  font-size: 1.5rem;
  color: $white;
}

.subtitle {
  font-family: $font-title;
  font-weight: 400;
  font-size: 1.25rem;
  color: $white;
  opacity: 0.92;
  text-transform: capitalize;
}

.description {
  font-family: $font-description;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $dark-50;
}

.date {
  font-family: $font-description;
  font-size: 1rem;
  font-weight: 500;
  color: $brand-color;
}
